html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

#top-navbar {
	transition: margin-left .5s;
}

#top-navbar.push-right {
	margin-left: 300px;
}

@media screen and (max-width: 549px) {
    #top-navbar.push-right {
		margin-left: 60%;
	}

	#top-navbar.push-right #hamburger-button {
		display: none;
	}

	#top-navbar.push-right .btn { 
		margin-top: 5px;
		border-radius: .25rem;
	}

	#top-navbar.push-right .places-search {
		width: 100%;
	}
}

#places-search {
	min-width: 100px;
}

/* The suggestions from the SearchBox */
.pac-container {
	z-index: 100000;
}

#sidebar {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

#sidebar.active {
	display: block;
	width: 300px;
	max-width: 60%;
}

#sidebar .sidebar-header, #sidebar .sidebar-content {
	opacity: 0;
	transition: opacity 0s 0.1s ease-in-out;
}

#sidebar.active .sidebar-header, #sidebar.active .sidebar-content {
	opacity: 1;
	transition: opacity 0.6s 0.1s ease-in-out;
}

#filter-input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#filter-btn {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card {
	border-radius: 0;
	border: 0;
}

.card-header {
	border: 0;
	padding: 0rem 1.25rem;
}

#home-card {
	border-top: 0;
}

#favorite-places-list :nth-child(even) .card-header {
	background-color: #fcdd7c;
}

.home-card-header {
	background-color: #cfe4ff;
}

.home-icon {
	color: #6b7be3;
}

.home-icon :hover {
	cursor: pointer;
	font-size: 1.3rem;
	color: #1d33ac;
}

.home-collapsible {
	white-space: normal;
}

.favorite-place-card-header {
	background-color: #ffe9a5;
}

.favorite-place-icon :hover {
	cursor: pointer;
	width: 30px;
}

.favorite-place-collapsible {
	white-space: normal;
}

.favorite-place-delete {
	color: #d15f55;
}

.favorite-place-delete :hover {
	cursor: pointer;
	color: red;
}

.favorite-place-details {
	margin: 0;
}

.favorite-place-details td, .favorite-place-details th {
	border-top: 0;
}

.opening-hours {
	list-style-type: none;
	font-size: .8em;
	padding: 0;
	margin: 0;
}

.navbar.transparent {
	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.infowindow {
	text-align: center;
}

.infowindow-subtitle {
	font-style: oblique;
}

/* Derived from https://www.w3schools.com/howto/howto_js_snackbar.asp */
#toast {
    display: none; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    max-width: 100%;
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit at the bottom of the screen */
    z-index: 1000000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    transform: translateX(-50%);
    bottom: 30px; /* 30px from the bottom */
}

/* this part is mine though */
#toast.error {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#toast.info {
	color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

#toast.success {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* back to W3Schools code */
#toast.show {
	display: block;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
