html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

#top-navbar {
	transition: margin-left .5s;
}

#top-navbar.push-right {
	margin-left: 300px;
}

@media screen and (max-width: 500px) {
    #top-navbar.push-right {
		margin-left: 60%;
	}

	#top-navbar.push-right #hamburger-button {
		display: none;
	}

	#top-navbar.push-right #search-button, #top-navbar.push-right #front-add-btn { 
		margin-top: 5px;
	}

	#top-navbar.push-right #front-search-btn {
		border-radius: .25rem;
	}
}

#places-search {
	min-width: 100px;
}

/* The suggestions from the SearchBox */
.pac-container {
	z-index: 100000;
}

#sidebar {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar.active {
	display: block;
	width: 300px;
	max-width: 60%;
}

.sidebar-content {
	margin-top: 25px;
}

.navbar.transparent {
	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}