html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

#top-navbar {
	transition: margin-left .5s;
}

#top-navbar.push-right {
	margin-left: 300px;
}

@media screen and (max-width: 500px) {
    #top-navbar.push-right {
		margin-left: 60%;
	}

	#top-navbar.push-right #hamburger-button {
		display: none;
	}

	#top-navbar.push-right #search-button, #top-navbar.push-right #front-add-btn { 
		margin-top: 5px;
	}

	#top-navbar.push-right #front-search-btn {
		border-radius: .25rem;
	}
}

#places-search {
	min-width: 100px;
}

/* The suggestions from the SearchBox */
.pac-container {
	z-index: 100000;
}

#sidebar {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar.active {
	display: block;
	width: 300px;
	max-width: 60%;
}

#filter-input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#filter-btn {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.card-header:hover{
	background-color: white;
	cursor: pointer;
}

.navbar.transparent {
	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* Derived from https://www.w3schools.com/howto/howto_js_snackbar.asp */
#toast {
    display: none; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

#toast.show {
	display: block;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
